@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700&display=swap');

@import url("https://use.typekit.net/wjl6idc.css");

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

header {
    grid-area: hd;
    flex-wrap: nowrap;
    display: flex;
    margin-bottom: 4vw;
}

main {
    grid-area: main;
    background-color: white;
}

.logo {
    height: 10vw;
    width: 15vw;
    margin-left: 7vw;
    align-self: center;
}


a {
    font-family: 'Spartan', sans-serif;
    font-size: 13px;
    color: #3C3C3C;
    top: 0;
    left: 0;
    position: relative;
    cursor: pointer;
}

/*/ navigation stylign /*/
nav ol {
    font-family: 'Spartan', sans-serif;

    display: flex;
    margin-bottom: 2vw;
    margin-top: 1vw;
}

nav li {
    display: inline;
    margin: 2vw;
}

li a {
    text-decoration: none;
    font-size: 13px;
}

a:link {
    color: #3C3C3C;
}

/*/CHANGE THIS COLOR BACK TO #F2DEEB /*/
a:visited {
    color: #3C3C3C;
}

a:hover {
    color: #B780A4;
}

a:active {
    color: #403048;
}




.title {
    position: absolute;
    margin-top: -2vw;
}

.pink_row:hover {
    background-color: #FFF5FC;

}

.aboutme {
    grid-area: me;
}

/*IMAGES */

.img_profile {
    width: 22vw;
    height: 30vw;
    margin-left: 3vw;
    grid-area: img;
}

.img_passion {
    width: 25vw;
    height: 15vw;
    margin-left: 3vw;
    grid-area: img;
}

.img_russian {
    width: 20vw;
    height: 30vw;
    margin-left: 3vw;
}

.img_computer {
    width: 20vw;
    height: 23vw;
    margin-left: 3vw;
}

.img_content {
    width: 25vw;
    height: 18vw;
    margin-left: 3vw;
}

.img_data {
    width: 25vw;
    height: 13vw;
    margin-left: 3vw;
}

.img_app {
    width: 20vw;
    height: 20vw;
    margin-left: 3vw;
}

.img_game {
    width: 23vw;
    height: 13vw;
    margin-left: 3vw;
}

.img_storyboard {
    width: 20vw;
    height: 20vw;
    margin-left: 2vw;
}


.img_persona2 {
    width: 25vw;
    height: 17vw;
    margin-left: 2vw;
}

.img_idea {
    width: 23vw;
    height: 16vw;
    margin-left: 3vw;
}


.text {
    grid-area: txt;
}

/*//buttons//*/


.button_back:hover {
    background-color: #FFF5FC;
}

.button_next:hover {
    background-color: #FFF5FC;
}

.button_previous:hover {
    background-color: #FFF5FC;
}

.button_learn {
    background-color: #FFF5FC;
}

.social_img {
    width: 3vw;
    height: 3vw;
    margin-left: 1vw;
}

footer {
    grid-area: ft;
    background-color: #F2DEEB;
    padding: .5vw;
}



/*//big screen//*/
@media only screen and (min-width: 900px) {
    body {
        margin-left: 100px;
        margin-right: 100px;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            ". . hd hd hd hd"
            ". main main main main ."
            " ft ft ft ft ft ft";
    }

    .intro {
        padding-bottom: 16vw;
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns:
            1fr 1fr 1fr 1fr;
        grid-template-areas:
            "psquare psquare psquare prow";
    }

    .project {
        /*        position: relative; */
        padding-bottom: 4vw;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns:
            1fr 1fr 1fr 1fr;
        grid-template-areas:
            "img img txt txt";
    }

    .aboutme {
        margin-bottom: 4vw;
        display: grid;
        grid-template-columns:
            1fr 1fr 1fr 1fr;
        grid-template-areas:
            "img txt txt txt";
    }

    .button_grid {
        margin-bottom: 6vw;
        padding-top: 6vw;
        display: grid;
        grid-template-columns:
            1fr 1fr 1fr 1fr;
        grid-template-areas:
            "prv . . nxt";
    }

    .pink_square {
        grid-area: psquare;
        background-color: #FFF5FC;
        width: 20vw;
        height: 25vw;
        position: relative;
        margin-left: 3vw;
    }

    .pink_square p {
        margin-top: 1.5vw;
        margin-left: 1vw;
        margin-right: 1vw;
        /*        padding: 1vw;*/
    }


    #pink_rows3 {
        margin-top: -1vw;
    }

    #pink_rows5 {
        margin-top: -2vw;
    }


    .pink_row {
        grid-area: prow;
        background-color: #F2DEEB;
        width: 20vw;
        height: 2.5vw;
        margin: 1vw;
        position: relative;
    }

    .pink_row a {
        font-family: 'Spartan', sans-serif;
        font-size: 12px;
        color: #3C3C3C;
        text-decoration: none;
        padding: 1vw;
        margin-left: 1vw;
        position: absolute;
        cursor: pointer;
    }

    .click_link {
        font-family: 'Spartan', sans-serif;
        font-size: 13px;
        color: #3C3C3C;
        text-decoration: none;
        border-bottom: 4px solid #B780A4;
    }

    .click_link2 {
        font-family: 'Spartan', sans-serif;
        font-size: 13px;
        color: #3C3C3C;
        margin-left: .5vw;
        text-decoration: none;
        border-bottom: 4px solid #B780A4;
    }




    ul {
        margin: -1vw;
    }

    p {
        font-family: 'Spartan', sans-serif;
        font-size: 13px;
        color: #3C3C3C;
        word-spacing: .1vw;
    }

    h1 {
        font-family: 'Spartan', sans-serif;
        font-weight: normal;
        font-size: 15px;
        color: #3C3C3C;
        margin-left: 16vw;
        margin-bottom: 5vw;
    }

    h2 {
        font-family: 'Spartan', sans-serif;
        font-weight: normal;
        font-size: 15px;
        color: #3C3C3C;
        margin-left: 22vw;
        margin-bottom: 5vw;
    }

    h3 {
        font-family: 'Spartan', bold;
        font-size: 20px;
        color: #3C3C3C;
        margin-top: .5vw;
    }

    h4 {
        font-family: 'Spartan', bold;
        font-size: 16px;
        color: #3C3C3C;
    }

    #title-1 {
        color: #B780A4;
        font-family: 'times new roman';
        font-size: 40px;
        margin-left: 6vw;
        margin-top: -4vw;
        z-index: 2;
    }

    #title-2 {
        color: #3C3C3C;
        font-family: 'Spartan', sans-serif;
        font-weight: normal;
        background-color: #F2DEEB;
        z-index: 1;
        font-size: 13px;
        margin-left: 3vw;
        padding: 1vw;
    }

    .other_modules {
        margin-top: -3vw;
        margin-bottom: 5vw;
        margin-left: 15vw;
    }


    .button_back {
        margin-top: 8vw;
        margin-left: 18vw;
        background-color: #F2DEEB;
        width: 5vw;
        height: 1vw;
        padding: .5vw;

    }

    .button_back a {
        text-decoration: none;
        font-size: 11px;
        color: #3C3C3C;
        padding: .4vw;
    }

    .button_learn {
        margin-top: 2vw;
        margin-left: 12vw;
        background-color: #F2DEEB;
        width: 10vw;
        height: 2vw;
    }


    .button_learn a {
        text-decoration: none;
        font-size: 11px;
        color: #3C3C3C;
        padding-left: 2vw;
        padding-top: 5vw;
    }

    .button_next {
        grid-area: nxt;
        padding: .5vw;
        background-color: #F2DEEB;
        width: 11vw;
        height: 1.5vw;

    }

    .button_next a {
        text-decoration: none;
        font-size: 11px;
        color: #3C3C3C;
        padding: .4vw;

    }

    .button_previous {
        grid-area: prv;
        padding: .5vw;
        background-color: #F2DEEB;
        width: 11vw;
        height: 1.5vw;
    }

    .button_previous a {
        margin-right: 1vw;
        margin-left: 1vw;
        text-decoration: none;
        font-size: 11px;
        color: #3C3C3C;
        padding: .4vw;

    }

    .img_dani {
        width: 26vw;
        height: 30vw;
        margin-right: 5vw;
    }


}



/*tablet view */

@media only screen and (max-width: 899px) and (min-width: 600px) {

    body {
        margin-left: 8vw;
        margin-right: 8vw;
        background-color: white;
        display: grid;
        grid-template-columns:
            1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "hd hd hd hd hd hd"
            "main main main main main main"
            " ft ft ft ft ft ft";
    }

    .intro {
        padding-bottom: 16vw;
        margin-top: 5vw;
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns:
            1fr 1fr 1fr 1fr;
        grid-template-areas:
            "psquare . prow prow";
    }

    .project {
        /*        position: relative; */
        padding-bottom: 4vw;
        margin-left: 2vw;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns:
            1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "img .txt txt txt txt";
    }

    .aboutme {
        margin-bottom: 4vw;
        display: grid;
        grid-template-columns:
            1fr 1fr 1fr 1fr;
        grid-template-areas:
            "img txt txt txt";
    }

    .button_grid {
        margin-bottom: 6vw;
        padding-top: 6vw;
        display: grid;
        grid-template-columns:
            1fr 1fr 1fr 1fr;
        grid-template-areas:
            "prv . . nxt";
    }

    /*//STYLING//*/

    .pink_square {
        grid-area: psquare;
        background-color: #FFF5FC;
        width: 40vw;
        height: 30vw;
        position: relative;
        /*        margin-left: 3vw;*/
    }

    .pink_square p {
        padding: 1.2vw;
        font-size: 11px;
    }


    #pink_rows3 {
        margin-top: -1vw;
    }

    #pink_rows5 {
        margin-top: -2vw;
    }

    .pink_row {
        grid-area: prow;
        background-color: #F2DEEB;
        width: 33vw;
        height: 4.5vw;
        margin: 1vw;
        position: relative;
    }

    .pink_row a {
        font-family: 'Spartan', sans-serif;
        font-size: 10px;
        color: #3C3C3C;
        text-decoration: none;
        padding: 1.5vw;
        margin-left: 1vw;
        position: absolute;
        cursor: pointer;
    }

    .click_link {
        font-family: 'Spartan', sans-serif;
        font-size: 11px;
        color: #3C3C3C;
        text-decoration: none;
        border-bottom: 2px solid #B780A4;
    }

    .click_link2 {
        font-family: 'Spartan', sans-serif;
        font-size: 11px;
        color: #3C3C3C;
        margin-left: .5vw;
        text-decoration: none;
        border-bottom: 2px solid #B780A4;
    }


    .other_modules {
        margin-top: -3vw;
        margin-bottom: 5vw;
        margin-left: 15vw;
    }

    .button_back {
        margin-top: 8vw;
        margin-left: 18vw;
        background-color: #F2DEEB;
        width: 5vw;
        height: 1vw;
        padding: .5vw;

    }

    .button_back a {
        text-decoration: none;
        font-size: 11px;
        color: #3C3C3C;
        padding: .4vw;
    }

    .button_learn {
        margin-top: 2vw;
        margin-left: 28vw;
        width: 13vw;
        height: 4vw;
    }

    .button_learn a {
        text-decoration: none;
        color: #3C3C3C;
        font-size: 9px;
    }

    .button_learn a {
        text-decoration: none;
        color: #3C3C3C;
    }

    .button_next {
        grid-area: nxt;
        padding: .5vw;
        background-color: #F2DEEB;
        width: 11vw;
        height: 1.5vw;

    }

    .button_next a {
        text-decoration: none;
        font-size: 11px;
        color: #3C3C3C;
        padding: .4vw;

    }

    .button_previous {
        grid-area: prv;
        padding: .5vw;
        background-color: #F2DEEB;
        width: 11vw;
        height: 1.5vw;
    }


    .text {
        margin-right: 3vw;
    }

    ul {
        margin-left: 3vw;
    }

    ol {
        margin-left: 7vw;
    }

    p {
        font-family: 'Spartan', sans-serif;
        font-size: 12px;
        color: #3C3C3C;
    }

    h1 {
        font-family: 'Spartan', bold;
        font-size: 13px;
        color: #3C3C3C;
        margin-left: 25vw;
        margin-bottom: 5vw;
    }

    h2 {
        font-family: 'Spartan', sans-serif;
        font-weight: normal;
        font-size: 15px;
        color: #3C3C3C;
        margin-left: 31vw;
        margin-bottom: 5vw;
    }

    h3 {
        font-family: 'Spartan', bold;
        font-size: 20px;
        color: #3C3C3C;
        margin-top: 1vw;
    }


    #title-1 {
        color: #B780A4;
        font-family: 'times new roman';
        font-size: 35px;
        margin-left: 6vw;
        margin-top: -1.5vw;
        z-index: 2;
    }


    #title-2 {
        color: #3C3C3C;
        font-family: 'Spartan', sans-serif;
        font-weight: normal;
        background-color: #F2DEEB;
        z-index: 1;
        font-size: 13px;
        margin-top: 2.5vw;
        margin-left: 3vw;
        padding: 1vw;
    }

    .img_dani {
        width: 26vw;
        height: 30vw;
        margin-right: 5vw;
    }

}


/*MOBILE VIEW */

@media only screen and (max-width: 599px) {

    body {
        margin-left: 7vw;
        margin-right: 7vw;
        background-color: white;
        display: grid;
        grid-template-columns:
            1fr 1fr;
        grid-template-areas:
            "hd hd"
            "main main"
            "ft ft";
    }

    .intro {
        margin-left: 2vw;
        margin-top: 5vw;
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns:
            1fr;
        grid-template-areas:
            "psquare"
            "prow";
    }

    .project {
        position: relative;
        margin-left: 2vw;
        display: grid;
        grid-template-columns:
            1fr;
        grid-template-areas:
            "txt";
    }

    .aboutme {
        margin-bottom: 4vw;
        display: grid;
        grid-template-columns:
            1fr 1fr;
        grid-template-areas:
            "img txt";
    }

    .button_grid {
        margin-bottom: 6vw;
        padding-top: 6vw;
        display: grid;
        grid-template-columns:
            1fr 1fr 1fr 1fr;
        grid-template-areas:
            "prv . . nxt";
    }

    .other_modules {
        margin-top: 4vw;
        margin-bottom: 5vw;
    }

    .button_back {
        margin-top: 8vw;
        margin-left: 18vw;
        background-color: #F2DEEB;
        width: 5vw;
        height: 1vw;
        padding: .5vw;

    }

    .button_back a {
        text-decoration: none;
        font-size: 11px;
        color: #3C3C3C;
        padding: .4vw;
    }


    /*
    .button_back {
        margin-top: 8vw;
        margin-left: 36vw;
        width: 15vw;
        height: 5vw;
    }
*/

    .button_learn {
        margin-top: 0;
        margin-left: 60vw;
    }

    .button_learn a {
        text-decoration: none;
        color: #3C3C3C;
    }

    .button_learn a {
        text-decoration: none;
        color: #3C3C3C;
    }

    .button_next {
        grid-area: nxt;
        padding: .5vw;
        background-color: #F2DEEB;
        width: 11vw;
        height: 1.5vw;

    }

    .button_next a {
        text-decoration: none;
        font-size: 11px;
        color: #3C3C3C;
        padding: .4vw;

    }

    .button_previous {
        grid-area: prv;
        padding: .5vw;
        background-color: #F2DEEB;
        width: 11vw;
        height: 1.5vw;
    }

    .button_previous {
        grid-area: prv;
        width: 26vw;
        height: 5vw;
        padding: .7vw;
    }

    .button_previous a {
        margin-right: 1vw;
        margin-left: 1vw;
        text-decoration: none;
        color: #3C3C3C;
    }

    .pink_square {
        grid-area: psquare;
        background-color: #FFF5FC;
        width: 60vw;
        height: 45vw;
        position: relative;
        padding: 1vw;
        margin-left: 13vw;
    }

    .pink_square p {
        padding: 1.2vw;
    }



    .pink_row {
        grid-area: prow;
        background-color: #F2DEEB;
        width: 60vw;
        height: 7vw;
        margin: 1vw;
        margin-left: -9vw;
        position: relative;
    }

    .pink_row a {
        font-family: 'Spartan', sans-serif;
        font-size: 11px;
        color: #3C3C3C;
        text-decoration: none;
        padding: 3vw;
        margin-left: 1vw;
        position: absolute;
        cursor: pointer;
    }

    .text {
        margin-bottom: 4vw;
        margin-top: 1vw;
    }

    .phototxt {
        margin-left: 0;
    }

    ol {
        margin-left: 16vw;
    }

    p {
        font-family: 'Spartan', sans-serif;
        font-size: 12px;
        color: #3C3C3C;
        margin-right: 4vw;
    }

    h1 {
        font-family: 'Spartan', bold;
        font-size: 14px;
        color: #3C3C3C;
        margin-left: 2vw;
        margin-top: 8vw;
    }

    h2 {
        font-family: 'Spartan', bold;
        font-size: 14px;
        color: #3C3C3C;
        margin-left: 28vw;
    }

    h3 {
        font-family: 'Spartan', bold;
        font-size: 20px;
        color: #3C3C3C;
        margin-top: -1vw;
    }



    #title-1 {
        color: #B780A4;
        font-family: 'times new roman';
        font-size: 30px;
        margin-left: 17vw;
        margin-top: -3.5vw;
        z-index: 2;
    }

    #title-2 {
        color: #3C3C3C;
        font-family: 'Spartan', sans-serif;
        font-weight: normal;
        background-color: #F2DEEB;
        z-index: 1;
        font-size: 13px;
        margin-top: 2vw;
        margin-left: 11vw;
        padding: 1vw;
    }


    .click_link {
        font-family: 'Spartan', sans-serif;
        font-size: 13px;
        color: #3C3C3C;
        text-decoration: none;
        border-bottom: 2px solid #B780A4;
    }

    .click_link2 {
        font-family: 'Spartan', sans-serif;
        font-size: 13px;
        color: #3C3C3C;
        margin-left: 2vw;
        text-decoration: none;
        border-bottom: 2px solid #B780A4;
    }

    .img_dani {
        width: 45vw;
        height: 50vw;
        margin-right: 3vw;
    }


    .img_profile {
        display: none;
    }

    .img_passion {
        display: none;
    }

    .img_russian {
        display: none;
    }

    .img_computer {
        display: none;
    }

    .img_content {
        display: none;
    }

    .img_data {
        display: none;
    }

    .img_app {
        display: none;
    }

    .img_game {
        display: none;
    }

    .img_idea {
        display: none;
    }

    .img_storyboard {
        display: none;
    }

    .img_persona2 {
        display: none;
    }
















}
