@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700&display=swap');

@import url("https://use.typekit.net/wjl6idc.css");

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


header {
    grid-area: hd;
    flex-wrap: nowrap;
    display: flex;
    margin-bottom: 4vw;
}

main {
    grid-area: main;
    background-color: white;
}

.logo {
    height: 10vw;
    width: 15vw;
    margin-left: 7vw;
    align-self: center;
}

a {
    font-family: 'Spartan', sans-serif;
    font-size: 13px;
    color: #3C3C3C;
    top: 0;
    left: 0;
    position: relative;
    cursor: pointer;
}

/*/ navigation stylign /*/
nav ol {
    font-family: 'Spartan', sans-serif;

    display: flex;
    margin-bottom: 2vw;
    margin-top: 1vw;
}

nav li {
    display: inline;
    margin: 2vw;
}

li a {
    text-decoration: none;
    font-size: 13px;
}

a:link {
    color: #3C3C3C;
}

/*/CHANGE THIS COLOR BACK TO #F2DEEB /*/
a:visited {
    color: #3C3C3C;
}

a:hover {
    color: #B780A4;
}

a:active {
    color: #403048;
}


p {
    font-family: 'Spartan', sans-serif;
    font-size: 13px;
    color: #3C3C3C;
}


.title {
    position: absolute;
    margin-top: -2vw;
}

.pink_row:hover {
    background-color: #FFF5FC;

}

.aboutme {
    grid-area: me;
}

/*IMAGES */

.img_profile {
    width: 22vw;
    height: 30vw;
    margin-left: 3vw;
    grid-area: img;
}

.img_passion {
    width: 25vw;
    height: 15vw;
    margin-left: 3vw;
    grid-area: img;
}

.img_russian {
    width: 20vw;
    height: 30vw;
    margin-left: 3vw;
}

.img_computer {
    width: 20vw;
    height: 23vw;
    margin-left: 3vw;
}

.img_content {
    width: 25vw;
    height: 18vw;
    margin-left: 3vw;
}

.img_data {
    width: 25vw;
    height: 13vw;
    margin-left: 3vw;
}

.img_app {
    width: 20vw;
    height: 20vw;
    margin-left: 3vw;
}


.img_app2 {
    width: 20vw;
    height: 20vw;
    margin-right: 2vw;
}

.img_game {
    width: 23vw;
    height: 13vw;
    margin-left: 3vw;
}

.img_sko {
    width: 23vw;
    height: 13vw;
    margin-left: 2vw;
}

.img_pre {
    width: 15vw;
    height: 22vw;
    margin-left: 2vw;
}

.img_storyboard2 {
    width: 20vw;
    height: 20vw;
    margin-right: 2vw;
}

.img_persona {
    width: 25vw;
    height: 17vw;
    margin-right: 2vw;
}

.img_video {
    width: 22vw;
    height: 15vw;
    margin-left: 2vw;
}

.img_mood {
    width: 20vw;
    height: 20vw;
    margin-right: 2vw;
}

.img_idea {
    width: 23vw;
    height: 16vw;
    margin-left: 3vw;
}

.img_dani {
    width: 26vw;
    height: 30vw;
    margin-right: 5vw;
}

.img_data {
    width: 30vw;
    height: 25vw;
}

.img_content2 {
    width: 32vw;
    height: 20vw;
    margin-right: 2vw;
}


.text {
    grid-area: txt;
}

/*//buttons//*/


button:hover {
    background-color: #FFF5FC;
    color: #B780A4;
}

.button_back {
    margin-top: 8vw;
    margin-left: 16.5vw;
}

.button_back a {
    text-decoration: none;
    color: #3C3C3C;
}

.social_img {
    width: 3vw;
    height: 3xvw;
    margin-left: 1vw;
}

.img_russian {
    width: 20vw;
    height: 21vw;
    margin-left: 2vw;
}

.img_computer2 {
    width: 20vw;
    height: 23vw;
    margin-right: 2vw;
}

.img_tutorial {
    width: 24vw;
    height: 22vw;
    margin-left: 2vw;
}

/*
.img_web {
    width: 25vw;
    height: 20vw;
}
*/

.phototxt {
    grid-area: img;
}

footer {
    grid-area: ft;
    background-color: #F2DEEB;
    padding: .5vw;
}








/*BIG SCREEN*/

@media only screen and (min-width: 900px) {
    body {
        margin-left: 100px;
        margin-right: 100px;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            ". . hd hd hd hd"
            "main main main main main main"
            "ft ft ft ft ft ft";
    }


    .project {
        padding-bottom: 4vw;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns:
            1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            ". txt txt txt img .";
    }


    .project2 {
        padding-bottom: 4vw;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns:
            1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            ". img txt txt txt .";
    }


    .button_grid {
        margin-bottom: 6vw;
        padding-top: 6vw;
        display: grid;
        grid-template-columns:
            1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            ". prv . . nxt .";
    }

    button {
        background-color: #F2DEEB;
        border: none;
        padding: 1vw;
    }


    .button_learn {
        margin-top: 2vw;
        margin-left: 20vw;
    }

    .button_learn a {
        text-decoration: none;
        color: #3C3C3C;
    }


    h1 {
        font-family: 'times new roman';
        font-weight: normal;
        font-size: 16px;
        color: #3C3C3C;
        margin-left: 12vw;
    }

    h2 {
        font-family: 'times new roman';
        font-weight: normal;
        font-size: 16px;
        color: #3C3C3C;
        margin-left: 28vw;
    }

    h3 {
        margin-left: 12vw;
        font-family: 'Spartan', bold;
        font-size: 20px;
        color: #3C3C3C;
    }


    h4 {
        font-family: 'Spartan', bold;
        font-size: 14px;
        color: #3C3C3C;
        margin-top: 1vw;
    }

    .click_link {
        font-family: 'Spartan', sans-serif;
        font-size: 13px;
        color: #3C3C3C;
        text-decoration: none;
        border-bottom: 4px solid #B780A4;
    }

    .click_link2 {
        font-family: 'Spartan', sans-serif;
        font-size: 13px;
        color: #3C3C3C;
        margin-left: .5vw;
        text-decoration: none;
        border-bottom: 4px solid #B780A4;
    }

    .click_link3 {
        font-family: 'Spartan', sans-serif;
        font-size: 13px;
        color: #3C3C3C;
        margin-left: .5vw;
        text-decoration: none;
        border-bottom: 4px solid #B780A4;
    }

    .button_next {
        grid-area: nxt;
        padding: .7vw;
    }

    .button_next a {
        text-decoration: none;
        color: #3C3C3C;

    }

    .button_previous {
        grid-area: prv;
        padding: .7vw;
    }

    .button_previous a {
        margin-right: 1vw;
        margin-left: 1vw;
        text-decoration: none;
        color: #3C3C3C;
    }

    button a {
        font-family: 'Spartan', sans-serif;
        font-size: 10px;
        color: #3C3C3C;
    }
}




/*TABLET VIEW*/

@media only screen and (max-width: 899px) and (min-width: 600px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
        background-color: skyblue;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            ". . hd hd hd hd"
            "main main main main main main"
            "ft ft ft ft ft ft";
    }


    .project {
        padding-bottom: 4vw;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns:
            1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            ". txt txt txt img .";
    }


    .project2 {
        padding-bottom: 4vw;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns:
            1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            ". img txt txt txt .";
    }


    .button_grid {
        margin-bottom: 6vw;
        padding-top: 6vw;
        display: grid;
        grid-template-columns:
            1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            ". prv . . nxt .";
    }

    button {
        background-color: #F2DEEB;
        border: none;
        padding: 1vw;
    }


    .button_learn {
        margin-top: 2vw;
        margin-left: 20vw;
    }

    .button_learn a {
        text-decoration: none;
        color: #3C3C3C;
    }



    h3 {
        margin-left: 12vw;
        font-family: 'Spartan', bold;
        font-size: 20px;
        color: #3C3C3C;
        margin-left: 14vw;
    }


    h4 {
        font-family: 'Spartan', bold;
        font-size: 14px;
        color: #3C3C3C;
        margin-top: 1vw;
    }

    .click_link {
        font-family: 'Spartan', sans-serif;
        font-size: 13px;
        color: #3C3C3C;
        text-decoration: none;
        border-bottom: 4px solid #B780A4;
    }

    .click_link2 {
        font-family: 'Spartan', sans-serif;
        font-size: 13px;
        color: #3C3C3C;
        margin-left: .5vw;
        text-decoration: none;
        border-bottom: 4px solid #B780A4;
    }

    .click_link3 {
        font-family: 'Spartan', sans-serif;
        font-size: 13px;
        color: #3C3C3C;
        margin-left: .5vw;
        text-decoration: none;
        border-bottom: 4px solid #B780A4;
    }


    .button_next {
        grid-area: nxt;
        width: 20vw;
        heigh:
        padding: .7vw;
    }

    .button_next a {
        text-decoration: none;
        color: #3C3C3C;

    }

    .button_previous {
        grid-area: prv;
        padding: .7vw;
    }

    .button_previous a {
        margin-right: 1vw;
        margin-left: 1vw;
        text-decoration: none;
        color: #3C3C3C;
    }

    button a {
        font-family: 'Spartan', sans-serif;
        font-size: 10px;
        color: #3C3C3C;
    }

}



/*MOBILE VIEW */

@media only screen and (max-width: 599px) {

    body {
        margin-left: 7vw;
        margin-right: 7vw;
        background-color: white;
        display: grid;
        grid-template-columns:
            1fr;
        grid-template-areas:
            "hd"
            "main"
            "ft";
    }

    .project {
        padding-bottom: 4vw;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns:
            1fr;
        grid-template-areas:
            "img"
            "txt";
    }


    .project2 {
        padding-bottom: 4vw;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns:
            1fr;
        grid-template-areas:
            "img"
            "txt";
    }


    .button_grid {
        margin-bottom: 6vw;
        padding-top: 6vw;
        display: grid;
        grid-template-columns:
            1fr 1fr 1fr;
        grid-template-areas:
            "prv . nxt";
    }

    button {
        background-color: #F2DEEB;
        border: none;
        padding: 1vw;
    }


    .button_learn {
        margin-top: 2vw;
        margin-left: 20vw;
    }

    .button_learn a {
        text-decoration: none;
        color: #3C3C3C;
    }



    h3 {
        margin-left: 12vw;
        font-family: 'Spartan', bold;
        font-size: 20px;
        color: #3C3C3C;
        margin-left: -.5vw;
    }


    h4 {
        font-family: 'Spartan', bold;
        font-size: 14px;
        color: #3C3C3C;
        margin-top: 8vw;

    }

    .click_link {
        font-family: 'Spartan', sans-serif;
        font-size: 13px;
        color: #3C3C3C;
        text-decoration: none;
        border-bottom: 3px solid #B780A4;
    }

    .click_link2 {
        font-family: 'Spartan', sans-serif;
        font-size: 13px;
        color: #3C3C3C;
        margin-left: .6vw;
        text-decoration: none;
        border-bottom: 3px solid #B780A4;
    }

    .click_link3 {
        font-family: 'Spartan', sans-serif;
        font-size: 13px;
        color: #3C3C3C;
        margin-left: .6vw;
        text-decoration: none;
        border-bottom: 3px solid #B780A4;
    }


    .button_next {
        grid-area: nxt;
        width: 26vw;
        height: 5vw;
    }

    .button_next a {
        text-decoration: none;
        color: #3C3C3C;

    }

    .button_previous {
        grid-area: prv;
        width: 26vw;
        height: 5vw;
        padding: .7vw;
    }

    .button_previous a {
        margin-right: 1vw;
        margin-left: 1vw;
        text-decoration: none;
        color: #3C3C3C;
    }

    button a {
        font-family: 'Spartan', sans-serif;
        font-size:10px;
        color: #3C3C3C;
    }



    .img_profile {
        display: none;

    }

    .img_passion {
        display: none;

    }

    .img_russian {
        display: none;

    }

    .img_computer {
        display: none;

    }

    .img_content {
        display: none;

    }

    .img_data {
        display: none;

    }

    .img_app {
        display: none;

    }


    .img_app2 {
        display: none;

    }

    .img_game {
        display: none;

    }

    .img_sko {
        display: none;

    }

    .img_pre {
        display: none;

    }

    .img_storyboard2 {
        display: none;

    }

    .img_persona {
        display: none;

    }

    .img_video {
        display: none;

    }

    .img_mood {
        display: none;

    }

    .img_idea {
        display: none;

    }

    .img_dani {
        display: none;

    }

    .img_data {
        display: none;

    }

    .img_content2 {
        display: none;
    }

    .img_computer2 {
        display: none;

    }

    .img_tutorial {
        display: none;

    }
}
